$text-align: center;

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: block;
  padding: 0;
  margin-top: 0;
}

a {
  text-decoration: none;

  &:link {
    color: #ffffff;
  }
}

.bg {
  position: relative;
}

.bg-img {
  width: 100%;
  display: block;
}

.banner-logo {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.move-title {
  font-size: 38px;
  color: #ffffff;
  text-align: $text-align;
  margin-bottom: 10px;
}

.move-desc {
  font-size: 14px;
  color: #ffffff;
  text-align: $text-align;
}

.move-down {
  text-align: $text-align;
  margin-top: 20px;

  a:link {
    color: #1074e7;
  }
}

.move-down-a {
  display: block;
  font-size: 30px;
  margin: auto;
  padding: 0;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  background: #ffffff;
  line-height: 60px;
  vertical-align: center;

}

.wording {
  position: absolute;
  width: 500px;
  top: 30%;
  right: 55%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

li {
  display: inline-block;
  text-align: $text-align;
  padding: {
    left: 10px;
    right: 10px;
    bottom: 5px;
  };
  margin: {
    left: 10px;
    right: 10px;
  };

}

.h-inner {
  width: 900px;
  height: 40px;
  margin: 0 auto;
  .nav {
    text-align: center;
  }
  ul {
    height: 54px;
    display: inline-block;
    width: 100%;
  }
  a:link{
    color: white;
  }
  .active-border {
    padding: 15px 10px 5px 10px;
    .active {
      border-bottom: 4px solid #ffffff;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

  }
}

h1 {
  position: absolute;
  margin-top: 10px;
  left: 20%;
}


.logo {
  float: left;
  img {
    height: 32px;
  }
}